<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <connectionStrings>
    <!--<add name="CreditiDB" connectionString="Server=localhost;Database=Crediti;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
	  <add name="CreditiDB" connectionString="Server=localhost\SQLEXPRESS;Database=Crediti;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
       <bindings>
      <basicHttpBinding>
        <binding name="EnlaceHTTP" 
                 closeTimeout="00:10:00"
                 maxReceivedMessageSize="65536" 
                 maxBufferPoolSize="65536" 
                 messageEncoding="Text"
                 textEncoding="utf-8"> 
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="EnlaceTPC"
                closeTimeout="00:10:00"
                maxReceivedMessageSize="65536"
                maxBufferPoolSize="65536"
                maxConnections="10">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"></transport>
          </security>
        </binding>
      </netTcpBinding>
	    <webHttpBinding>
			<binding name="EnlaceHTTPRest"
					 closeTimeout="00:10:00"
					 crossDomainScriptAccessEnabled="true"> 
			</binding>
			   
	    </webHttpBinding>
    </bindings>
    <services>
      <service name ="RCR.Commerciale.Crediti.Implementation.ClienteService" behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="EnlaceHTTP"
                  contract="RCR.Commerciale.Crediti.Contratti.IClienteService"></endpoint>
      <!--<endpoint address=""
                binding="netTcpBinding"
                bindingConfiguration="EnlaceTPC"
                  contract="RCR.Commerciale.Crediti.Contratti.IClienteService"></endpoint>-->
		  <endpoint address="rest"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
				  behaviorConfiguration="webREST"
                  contract="RCR.Commerciale.Crediti.Contratti.IClienteService"></endpoint>
      </service>
		<service name ="RCR.Commerciale.Crediti.Implementation.ClienteService" behaviorConfiguration="ServiceBehavior">
			<endpoint address=""
					  binding="basicHttpBinding"
					  bindingConfiguration="EnlaceHTTP"
					  contract="RCR.Commerciale.Crediti.Contratti.ICreditiService"></endpoint>
			<!--<endpoint address=""
                binding="netTcpBinding"
                bindingConfiguration="EnlaceTPC"
                  contract="RCR.Commerciale.Crediti.Contratti.ICreditiService"></endpoint>-->
			<endpoint address="rest"
					binding="webHttpBinding"
					bindingConfiguration="EnlaceHTTPRest"
					behaviorConfiguration="webREST"
					contract="RCR.Commerciale.Crediti.Contratti.ICreditiService"></endpoint>
		</service>
    </services>
    <behaviors>
		<endpointBehaviors>
			<behavior name="webREST">
				<webHttp helpEnabled="true" />
			</behavior>
		</endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- Per evitare la diffusione di informazioni sui metadati, impostare i valori seguenti su false prima della distribuzione -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Per ricevere i dettagli sull'eccezione negli errori per scopi di debug, impostare il valore seguente su true. Impostare su false prima della distribuzione per evitare la diffusione di informazioni sull'eccezione -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
	  <handlers>
		  <remove name="WebDAV"/>
	  </handlers>
	  <modules runAllManagedModulesForAllRequests="true">
		  <remove name="WebDAVmodule"/>
	  </modules>
    <!--
        Per sfogliare la directory radice dell'applicazione Web durante il debug, impostare il valore riportato sotto su true.\DESKTOP-HT0MQRV
        Impostarlo su false prima della distribuzione per evitare di diffondere informazioni sulla cartella dell'applicazione Web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
