<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <connectionStrings>
    <!--<add name="CreditiDB" connectionString="Server=localhost;Database=Crediti;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
	  <add name="CreditiDB" connectionString="Server=localhost\SQLEXPRESS;Database=Crediti;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name ="RCR.Commerciale.Crediti.Implementation.ClienteService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="RCR.Commerciale.Crediti.Contratti.IClienteService"></endpoint>
      <!--<endpoint address=""
                binding="netTcpBinding"
                  contract="RCR.Commerciale.Crediti.Contratti.IClienteService"></endpoint>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Per evitare la diffusione di informazioni sui metadati, impostare i valori seguenti su false prima della distribuzione -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Per ricevere i dettagli sull'eccezione negli errori per scopi di debug, impostare il valore seguente su true. Impostare su false prima della distribuzione per evitare la diffusione di informazioni sull'eccezione -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Per sfogliare la directory radice dell'applicazione Web durante il debug, impostare il valore riportato sotto su true.\DESKTOP-HT0MQRV
        Impostarlo su false prima della distribuzione per evitare di diffondere informazioni sulla cartella dell'applicazione Web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
